@charset "UTF-8";
 hr {
	margin-top: 10px;
	margin-bottom: 10px;
	color:#ffce32;
	box-sizing: content-box;
	height: 2px;
	overflow: visible;
} 
#titleName {
	color:black;
	margin-right: 50px;
}

#wrapper {
    background: url(../images/bg_content.gif) 0 0 repeat;
}

.btn-subway{
	background:#009223;
	color: white;
	border: #009223 solid 1px;
	border-radius: 5px;
	margin-left: 7px;
}
.btn-subway-gray{
	background:#9e9e9e;
	color:white;
	border: #9e9e9e solid 1px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 3px;
	margin-top: 3px;
}

table{
	color: black;
	width: 100%;
	border-radius: 10px;
	margin-top: 25px;

}
th{
    padding: 15px 15px 15px 20px;
    background:#ffce32;
  }

th:first-child { border-radius: 10px 0 0 10px; }
th:last-child { border-radius: 0 10px 10px 0; }

  
td {
    border-collapse: collapse;
    border-bottom: 1px solid #444444;
    padding: 18px;
  }


tr:hover { 
	background-color: #c9c9c9;
	}