@charset "UTF-8";

	.main{
		border: 5px solid #009223; 
		height: 600px; 
		width: 100%;
/* 		border-style: double; */
	}
	.card{
		
		height: 250px; 
		width: 300px;
		float: left;
  		margin-left: 35px;
		margin-top: 20px;  
		margin-bottom: 16px;
	}
	.card-header{
		background-color: #ffce32;
	
	}
	.tb{
		font-size: 13px;
		height: 200px;
	}
	.star_rating{
		margin-left: 60px;
		float: left;
		width: 100px;
		margin-top: 5px;
	}
	.title{
		float: left;
		font-weight: bold;
		margin-top: 5px;
		margin-left: 10px;
	}
	.comment{
		float: left;
		width: 90%;
		height: 80px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.on{
		color: #e60000;
		size: 15px;
	}

	.s{
	height: 620px; 
	width: 100%; 
	background-color: #ffc300;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px 15px 15px 15px
	}
	
	.ss{
	background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
	}
